.hero-section {
    position: relative;
    height: 60vh;
    background-image: url(../../assets/images/hero-image.png), linear-gradient(rgba(50,50,50,50%), rgba(50,50,50,50%));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__title {
        color: white;
        font-size: 2rem;
        font-weight: 700;
        padding-left: 10rem;
        font-style: italic;
    }
}